
.equip-item-image{
    width:100%;
    border-radius:15px 15px 0px 0px;
}
.equip-item-info{
    padding:20px;
}
.equip-item-name-rating{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}
.equip-item-name-rating p{
    font-size:20px;
    font-weight:500;
}
.equip-item-name-rating img{
    width:70px;
    color:rgb(81, 81, 132)
}
.equip-item-description{
    color:rgb(81, 81, 132);
    font-size:12px;
}
.equip-item-price{
    color:rgb(81,81,132);
    font-size:22px;
    font-weight:500;
    margin:10px 0px;
}
.equip-item-img-container{
    position:relative;
}
.equip-item-img-container .add{
    width:35px;
    position:absolute;
    bottom:5px;
    right:20px;
    cursor:pointer;
    border-radius:50%;
}
.equip-item-counter{
    position:absolute;
    bottom:20px;
    right:25px;
    display:flex;
    align-items:center;
    gap:30px;
    padding:6px;
    border-radius:50px;
    background-color: rgb(197, 197, 226);
}
.equip-item-counter img{
    width:35px;
    right:55px;
    
}
